<template>
    <q-footer elevated class="bg-grey-8 text-white">
        <q-toolbar>
            <q-toolbar-title>
                <q-avatar>
                    <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">
                </q-avatar>
                Title
            </q-toolbar-title>
        </q-toolbar>
    </q-footer>
</template>

<script>
    export default {
        name: "FooterComponent"
    }
</script>

<style scoped lang="stylus">

</style>